root = true

[*]
ktlint_function_naming_ignore_when_annotated_with=Composable
ktlint_standard_discouraged-comment-location = disabled
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_size = 4

[*.kt]
indent_size = 4

[*.xml]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[build.gradle]
indent_size = 4

[test/**.kt]
indent_size = 2
